<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Key" value="witxniion"/>
    <add key="InvoiceWord" value="INV"/>
    <add key="Title" value="TOMS"/>
    <add key="url" value="http://toms.itwarmup.com"/>
    <add key="cookieCart" value="_witcomtomscrt_"/>
    <add key="cookieUser" value="_witcomtomsusr_"/>
    <add key="cookieVoucher" value="_witcomtomsvcr_"/>
    <add key="cookieAdmin" value="_witcomtomsadm_"/>
    <add key="cookieCurrency" value="_witcomtomscry_"/>
    <add key="cookiePopup" value="_witcomtomspop_" />
    <add key="ProductPerPage" value="40"/>
    <add key="idCustomerAdminOrderGrup" value="3"/>
  </appSettings>
  <connectionStrings>
      <add name="DB61_niionConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB61_niion;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="DB13346_NiionConnectionString" connectionString="Data Source=202.67.10.27,25000;Initial Catalog=DB13346_Niion;User ID=DB13346_Niion;Password=niion12345*"
          providerName="System.Data.SqlClient" />
      <add name="DBNiionConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBNiion;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="DBTomsConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBToms;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="DBTomsConnectionString1" connectionString="Data Source=119.235.251.242,780;Initial Catalog=DBToms;User ID=WITVPS;Password=6thWITgopro*#"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="UrlRoutingHandler"
           preCondition="integratedMode"
           verb="*"
           path="UrlRouting.axd"
           type="System.Web.HttpForbiddenHandler, &#xA;               System.Web, Version=2.0.0.0, &#xA;               Culture=neutral, &#xA;               PublicKeyToken=b03f5f7f11d50a3a"
                                                />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpProtocol>
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.web>
    <anonymousIdentification enabled="true" />
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms timeout="120"/>
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages validateRequest="false" />
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>